@font-face {
  font-family: 'Bungee Inline';
  src: url(./BungeeInline-Regular.ttf);
}

html {
  background: url(./assets/back-screen.png);  
}

body {
  margin: 0;
  font-family: 'Bungee Inline';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
